/* .dropdown:hover .dropdown-menu {
  display: block;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 0px;
} */

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 10px;
}

.caret {
  float: right;
  margin-top: 5%;
}

#menu1 {
  width: 100%;
  text-align: center;
}
